{% block details %}
    <div id="qgDetails">
        <div style="padding-top: 30px;">
            <p>Пожалуйста, выберите из списка слева необходимый раздел и нажмите на него.</p>
        </div>
    </div>
{% endblock %}